<html lang="en">
<head>
	<title>MediQuery</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	<meta name="viewport" content="initial-scale=1; user-scalable=no">
</head>
	<script src="https://use.fontawesome.com/33461da12b.js"></script>
{% block body %}
{% endblock %}
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
